@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");
html{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */ -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

body{
  background-image: url('https://assets.codepen.io/1538474/star.svg'),linear-gradient(to bottom, #05007A, #4D007D);  background-repeat: no-repeat;
  background-attachment: fixed;
font-family: 'Bangers', cursive;
letter-spacing: 1px;
}

@media screen and (min-width: 600px){
body{
  background-size: 100%;
}
  
}


@media screen and (min-width: 600px) {

nav{
    text-align: center;
    height: 25px;
    padding: 10px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
section{
    height: 100vh;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.247);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin: 0px;
margin-bottom: 10px;
}
.section-roadmap{
    height: 190vh;
}
.logo{
    height: 50px;
}
a{
    text-decoration: none;
}

li{
    text-decoration: none;
    display: inline;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/544/387/original/3d-yellow-fluid-background-free-vector.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;    
    -webkit-text-fill-color: transparent;
-webkit-text-fill-color: transparent;    margin: 5px;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    font-weight: bold;

}
/* Header */
.image-1{
    position: absolute;
    right: 70px;
    top: 100px;
    
}
.head-p{
    margin-left: 50px;
    margin-top: 150px;
}
}
/* mobile */
@media screen and (max-width: 600px) {
    body{
        text-align: center;
    }
    .section-roadmap{
      height: 180vh;
  }
  .gallery-section{
    height: 280vh;
  }
    nav{
        text-align: center;
        height: 25px;
        padding: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
    li{
        text-decoration: none;
        display: inline;
        margin: 5px;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        background-image: url(https://static.vecteezy.com/system/resources/previews/002/544/387/original/3d-yellow-fluid-background-free-vector.jpg);
        background-repeat: repeat;
        -webkit-background-clip: text;    
        -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    }
    a{
        text-decoration: none;
    }
    section{
        height: 100vh;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.247);
        border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0px;
    margin-bottom: 10px;
    }
    .section-roadmap{
        height: 178vh;
    }
    .image-1{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .m-img{
        width: 100%;
        border-radius: 0px;

    }
}
/* universal */
.m-img{
    
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
box-shadow: 0 24px 43px -3px rgba(0, 0, 0, 0.55);
    object-fit: contain;
}
.m-img:hover{
    max-width: 510px;
    max-height: 510px;
    transition: 0.3s;

}
/* universal */
.main-title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/544/387/original/3d-yellow-fluid-background-free-vector.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;    
    -webkit-text-fill-color: transparent;
    
}
button{
    width: 120px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 24px 43px -3px rgba(0, 0, 0, 0.45);    
}
.header-button-1{
    background-color: blue;
    color: azure;
    font-size: medium;
    font-weight: bold;
    border: 1px solid rgb(0, 183, 255);
}
.header-button-1:hover{
    background-color: #0085f1;

}
  @media only screen and (max-width: 500px) {
    .timeline-article p {
      margin: 0;
    }
    .timeline-article p span.article-number {
      display: none;
    }
    .section-roadmap{
      height: 185vh;
  }
  .header{
    height: 105vh;
  }
    
  }
  .div-about{
    text-align: center;
  }
  .div-img{
    max-width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 24px 43px -3px rgba(104, 103, 103, 0.55);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;

  }

  .about-image-logo{
    width: fit-content;
    border-radius: 20px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
  }
  /*===== // Resonsive Vertical Timeline =====*/

  .the-story{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    color: #ff0000;
    letter-spacing: 2px;
  }
  .p-2{
    font-size: 25px;
    font-family: 'Bangers', cursive;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/544/387/original/3d-yellow-fluid-background-free-vector.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
  }
  .p{
    box-shadow: 0 24px 43px -3px rgba(104, 103, 103, 0.55);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: var(--timelineCardBackgroundColor, rgba(255, 255, 255, 0.445));

    margin: 20px;
    border-radius: 20px;
    max-width: 800px;
    padding: 5px;
    font-family: 'Luckiest Guy';
    margin: 0 auto;


  }
  /*
!!!!
This pen is being refactored
!!!!
*/

/*
=====
DEPENDENCES
=====
*/

.r-title{
  margin-top: var(--rTitleMarginTop, 0) !important;
  margin-bottom: var(--rTitleMarginBottom, 0) !important;
}


p:not([class]){
  line-height: var(--cssTypographyLineHeight, 1.78);
  margin-top: var(--cssTypographyBasicMargin, 1em);
  margin-bottom: 0;
}

p:not([class]):first-child{
  margin-top: 0;
}

/*
text component
*/

.text{
  display: var(--textDisplay, inline-flex);
  font-size: var(--textFontSize, 1rem);  
}

/*
time component
*/

/*
core styles
*/

.time{
  display: var(--timeDisplay, inline-flex);
}

/*
extensions
*/

.time__month{
  margin-left: var(--timelineMounthMarginLeft, .25em);
}

/*
skin
*/

.time{
  padding: var(--timePadding, .25rem 1.25rem .25rem);
  background-color: var(--timeBackgroundColor, #f0f0f0);

  font-size: var(--timeFontSize, .75rem);
  font-weight: var(--timeFontWeight, 700);
  text-transform: var(--timeTextTransform, uppercase);
  color: var(--timeColor, currentColor);
}

/*
card component
*/

/*
core styles
*/

.card{
  padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
}

.card__content{
  margin-top: var(--cardContentMarginTop, .5rem);
}

/*
skin
*/

.card{
  border-radius: var(--timelineCardBorderRadius, 2px);
  border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
  box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  background-color: var(--timelineCardBackgroundColor, rgba(255, 255, 255, 0.473));
}

/*
extensions
*/

.card__title{
  --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
  font-size: var(--cardTitleFontSize, 1.25rem);
}

/*
=====
CORE STYLES
=====
*/

.timeline{
  display: var(--timelineDisplay, grid);
  grid-row-gap: var(--timelineGroupsGap, 2rem);
}

/*
1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too
*/

.timeline__year{
  margin-bottom: 1.25rem; /* 1 */
}

.timeline__cards{
  display: var(--timeloneCardsDisplay, grid);
  grid-row-gap: var(--timeloneCardsGap, 1.5rem);
}


/*
=====
SKIN
=====
*/

.timeline{
  --uiTimelineMainColor: var(--timelineMainColor, rgb(233, 221, 221));
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.timeline__year{
  --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
  --timeColor: var(--uiTimelineSecondaryColor);
  --timeBackgroundColor: var(--uiTimelineMainColor);
  --timeFontWeight: var(--timelineYearFontWeight, 400);
}

.timeline__card{
  position: relative;
  margin-left: var(--timelineCardLineGap, 1rem);
}

/*
1. Stoping cut box shadow
*/

.timeline__cards{
  overflow: hidden;
  padding-top: .25rem; /* 1 */
  padding-bottom: .25rem; /* 1 */
}

.timeline__card::before{
  content: "";
  width: 100%;
  height: var(--timelineCardLineWidth, 2px);
  background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));

  position: absolute;
  top: var(--timelineCardLineTop, 1rem);
  left: -50%;
  z-index: -1;
}

/*
=====
SETTINGS
=====
*/
/**/
.timeline{
  --timelineMainColor: #cccf03;
}

/*
=====
DEMO
=====
*/


.page{
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto;
}


.substack{
  border:1px solid #EEE; 
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  height: 280px;
  margin: 1rem auto;;
}


.linktr{
  display: flex;
  justify-content: center;
  background-color: rgb(209, 246, 255);
  padding: 2rem;
  text-align: center;
}

.linktr__goal{
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  color: rgb(8, 49, 112);
  box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
  border-radius: 2rem;
  padding: .5rem 1.25rem;
}

.r-link{
    --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
    --uirLinkTextColor: var(--rLinkTextColor);
    --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

    display: var(--uirLinkDisplay) !important;
    color: var(--uirLinkTextColor) !important;
    text-decoration: var(--uirLinkTextDecoration) !important;
}

/* Road map */
.map-roadmap{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #ff0000;
}
.gallery{
  margin: 18px;
  text-align: center;

}
@media screen and (max-width: 600px) {


.gallery-section{
  height: 280vh;
}
}
@media screen and (min-width: 600px) {
  .gallery-section{
    height: 140vh;
  }
  
}
h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #ff0000;
}
.gallery-image{
  max-width: 300px;
  border-radius: 10px;
}
.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 5px solid rgb(255, 251, 0);
margin-bottom: 10px;
max-width: 300px;
height: 300px;
margin: 5px;
display: inline-block;
padding: 1rem 1rem;
vertical-align: middle;
}
.footer{
  height: 5vh;
  text-align: center;
  padding-top: 10px;
  color: #cccf03;
}
.p-head{
  color: aqua;
}
.beta{
  width: 130px;
  background-color: #ff0000;
  padding:3px;
  border-radius: 25%;
  color:white;
}