@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
html{
    margin: 0;
    padding: 0;
}

body{
  background-image:#ff0000;background-image:  
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0, transparent 50%),  
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0, transparent 50%),  
radial-gradient(at 0% 50%, hsla(355,85%,93%,1) 0, transparent 50%),  
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0, transparent 50%),  
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0, transparent 50%),  
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0, transparent 50%),  
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0, transparent 50%);
font-family: 'Bangers', cursive;

}


@media screen and (min-width: 600px) {

nav{
    text-align: center;
    height: 25px;
    padding: 10px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
section{
    height: 100vh;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin: 0px;
margin-bottom: 10px;
}
.section-roadmap{
    height: 150vh;
}
.logo{
    height: 50px;
}
a{
    text-decoration: none;
}

li{
    text-decoration: none;
    display: inline;
    color: rgb(0, 121, 121);
    margin: 5px;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    font-weight: bold;

}
/* Header */
.image-1{
    position: absolute;
    right: 70px;
    top: 100px;
}
.head-p{
    margin-left: 50px;
    margin-top: 150px;
}
}
/* mobile */
@media screen and (max-width: 600px) {
    body{
        text-align: center;
    }
    nav{
        text-align: center;
        height: 25px;
        padding: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
    li{
        text-decoration: none;
        display: inline;
        margin: 5px;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        background: -webkit-linear-gradient(right, rgb(0, 22, 216), rgb(150, 3, 64));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    }
    a{
        text-decoration: none;
    }
    section{
        height: 100vh;
        /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0px;
    margin-bottom: 10px;
    }
    .section-roadmap{
        height: 178vh;
    }
    .image-1{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .m-img{
        width: 100%;
        border-radius: 0px;

    }
}
/* universal */
.m-img{
    
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
box-shadow: 0 24px 43px -3px rgba(0, 0, 0, 0.55);
    object-fit: contain;
}
.m-img:hover{
    max-width: 510px;
    max-height: 510px;
    transition: 0.3s;

}
/* universal */
.main-title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(right, rgb(0, 22, 216), rgb(150, 3, 64));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
button{
    width: 120px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 24px 43px -3px rgba(0, 0, 0, 0.45);    
}
.header-button-1{
    background-color: blue;
    color: azure;
    font-size: medium;
    font-weight: bold;
    border: 1px solid rgb(0, 183, 255);
}
.header-button-1:hover{
    background-color: #0085f1;

}


/* Roadmap */


/*===== Vertical Timeline =====*/
#conference-timeline {
    position: relative;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
  }
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    display: table;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: #00b0bd;
    padding: 15px 23px;
    color: #fff;
    max-width: 5%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  #conference-timeline .conference-center-line {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background: #00b0bd;
    z-index: -1;
  }
  #conference-timeline .conference-timeline-content {
    padding-top: 67px;
    padding-bottom: 67px;
  }
  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 44%;
    width: 100%;
  }
  .timeline-article .timeline-author {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #242424;
    text-align: right;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    position: relative;
    width: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.03);
    padding: 27px 25px;
  }
  .timeline-article p {
    margin: 0 0 0 60px;
    padding: 0;
    font-weight: 400;
    color: #242424;
    font-size: 14px;
    line-height: 24px;
    position: relative;
  }
  .timeline-article p span.article-number {
    position: absolute;
    font-weight: 300;
    font-size: 44px;
    top: 10px;
    left: -60px;
    color: #00b0bd;
  }
  .timeline-article .content-left-container {
    float: left;
  }
  .timeline-article .content-right-container {
    float: right;
  }
  .timeline-article .content-left:before,
  .timeline-article .content-right:before{
    position: absolute;
    top: 20px;
    font-size: 23px;
    font-family: "FontAwesome";
    color: #fff;
  }
  .timeline-article .content-left:before {
    content: "\f0da";
    right: -8px;
  }
  .timeline-article .content-right:before {
    content: "\f0d9";
    left: -8px;
  }
  .timeline-article .meta-date {
    position: absolute;
    top: 0;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    color: #fff;
    border-radius: 100%;
    background: #00b0bd;
  }
  .timeline-article .meta-date .date,
  .timeline-article .meta-date .month {
    display: block;
    text-align: center;
    font-weight: 900;
  }
  .timeline-article .meta-date .date {
    font-size: 30px;
    line-height: 40px;
  }
  .timeline-article .meta-date .month {
    font-size: 18px;
    line-height: 10px;
  }
  /*===== // Vertical Timeline =====*/
  
  /*===== Resonsive Vertical Timeline =====*/
  @media only screen and (max-width: 830px) {
    #conference-timeline .timeline-start,
    #conference-timeline .timeline-end {
      margin: 0;
    }
    #conference-timeline .conference-center-line {
      margin-left: 0;
      left: 50px;
    }
    .timeline-article .meta-date {
      margin-left: 0;
      left: 20px;
    }
    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 110px;
      min-height: 53px;
    }
    .timeline-article .content-left-container {
      margin-bottom: 20px;
    }
    .timeline-article .content-left,
    .timeline-article .content-right {
      padding: 10px 25px;
      min-height: 65px;
    }
    .timeline-article .content-left:before {
      content: "\f0d9";
      right: auto;
      left: -8px;
    }
    .timeline-article .content-right:before {
      display: none;
    }
  }
  @media only screen and (max-width: 400px) {
    .timeline-article p {
      margin: 0;
    }
    .timeline-article p span.article-number {
      display: none;
    }
    
  }
  .div-about{
    text-align: center;
  }
  .div-img{
    max-width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 24px 43px -3px rgba(104, 103, 103, 0.55);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;

  }

  .about-image-logo{
    width: fit-content;
    border-radius: 20px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
  }
  /*===== // Resonsive Vertical Timeline =====*/

  .the-story{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    color: #ff0000;
    letter-spacing: 2px;
  }
  .p-2{
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .p{
    box-shadow: 0 24px 43px -3px rgba(104, 103, 103, 0.55);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 20px;
    border-radius: 20px;
    max-width: 800px;
    padding: 5px;
    font-family: 'Luckiest Guy';
    margin: 0 auto;


  }